#embeddedterminal {
  z-index: 99;
  height: 250px;
  right: 0px;
  bottom: 0px;
}
#terminal {
  background-color: #1e1e1e;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  color: #B2B2B2;
}

div.modal.fade {
  color: white;
  position: fixed;
  margin: auto;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999999999;
  background: #333;
  padding: 20px;
  max-width: 500px;
  box-shadow: 0 -4px 4px rgba(0, 0, 0, 0.1);
}
div.modal.fade#options-menu {
  display: none;
  width: 450px;
}
div.modal.fade#bottom-menu {
  color: white;
  position: fixed;
  padding: 0px;
  bottom: 25px;
  box-shadow: 0 -4px 4px rgba(0, 0, 0, 0.1);
}
div.modal.fade#settingsModal {
  width: 450px;
}
h4.modal-title {
  font-weight: normal;
  font-size: 24px;
  margin: 0px;
  margin-bottom: 5px;
}
.form-control {
  width: 250px;
  padding: 5px;
  border: none;
  border-bottom: 3px solid #FFA200;
  color: white;
  background: #222525;
  font-size: 13px;
  font-weight: bold;
}
.form-control:hover {
  background: #464848;
  border-bottom-color: #222525;
}
.form-control.small {
  width: 100px;
}
.control-label::after {
  content: ': ';
}
.control-label {
  display: inline-block;
  font-size: 14px;
  font-weight: normal;
  width: 75px;
  text-align: right;
}
.col-sm-10 {
  display: inline;
}
span.tip {
  display: block;
  margin: 10px;
  font-size: 12px;
}
span.section {
  font-size: 14px;
}
svg {
  position: relative;
  top: 3px;
  margin-top: -4px;
}
.btn {
  position: relative;
  color: white;
  background: #222525;
  border: none;
  font-weight: bold;
  border-bottom: 3px solid #464848;
  padding: 7px 10px;
  font-size: 14px;
  cursor: pointer;
}
.btn.btn-primary {
  position: relative;
  color: white;
  background: #222525;
  border: none;
  font-weight: bold;
  border-bottom: 3px solid #FFA200;
  padding: 7px 10px;
  font-size: 14px;
  cursor: pointer;
}
.btn.float {
  position: relative;
  float: right;
  right: 20px;
}
.btn:hover {
  background: #464848;
  border-bottom-color: #222525;
}
.btn-primary:hover {
  background: #464848;
}
.btn-highlight {
  border-bottom-color: rgb(235, 195, 108);
}
.btn:disabled {
  color: #aaa;
  border-bottom-color: #000;
  cursor: default;
}
.btn:hover:disabled {
  color: #aaa;
  background: #222525;
  border-bottom-color: #000;
}
#m4Stop:disabled:after {
  content: 'ped'
}