<div>
  <h2>__MSG_simpleSettingsTitle__</h2>
  <span class="section"><b>__MSG_simpleSettingsDefaultThemes__</b></span><br>
  <label class="control-label col-sm-2">__MSG_simpleSettingsUITheme__</label>
  <select class="form-control small" id="editor-appearance-uitheme" command="editor:save-ui-theme">
    {{uiThemes}}
  </select>
  <label class="control-label col-sm-2">__MSG_simpleSettingsTheme__</label>
  <select class="form-control small" id="editor-appearance-theme" command="editor:save-theme">
    {{aceThemes}}
  </select><br><br>

  <span class="section"><b>__MSG_simpleSettingsFonts__</b></span><br>
  <label class="control-label col-sm-2">__MSG_simpleSettingsFontFamily__</label>
  <select class="form-control small" id="editor-appearance-theme" command="editor:save-theme">
    {{fontsList}}
  </select>
  <label class="control-label col-sm-2">__MSG_simpleSettingsFontSize__</label>
  <input class="form-control small" id="editor-appearance-uitheme" command="editor:save-font-size" type="number" defaultValue="{{fontSize}}" tabindex=0>
  <br>
  Beacon v{{version}}
</div>
